// App Color schema
$white:         #FFFFFF;
$black:         #000000;
$transparent:   rgba(0,0,0,0);

// Extra small screen / phone
$screen-xs:                  425px;
$screen-xs-min:              $screen-xs;

$screen-sx:                  576px;
$screen-sx-min:              $screen-sx;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sx-max:              ($screen-sx-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);