<template>
  <div id="app">
    <img src="./assets/images/logo.png">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  @import 'assets/styles/main.scss';
</style>
